h1 {
  font-family: monospace;
  color:navy;
  text-align: center;
  font-size:1cm;
}

h3 {
  font-family: monospace;
  text-align: center;
  font-size: x-large;
}

p {
  font-family: monospace;
  text-align: center;
  font-size:larger;
  text-decoration-line: underline;
}
